h1{
    font-size: 60px;
}

h2{
    font-size: 30px;
     color:black;
}

h3{
    font-size: 30px;
     color:black;
}

h4{
    font-size: 30px;
     color:black;
}

h5{
    font-size: 30px;
     color:black;
}

p{
    color:black;
}

p2{
    font-size:15px;
    font-family: inherit;
    text-align: center;
}

card{
    color:black;
}