
h1{
    font-size: 60px;
    color:white;
    color:black;
    font-family: 'Alfa Slab One', cursive;

    
}

h2{
    font-size: 30px;
     color:black;
    font-family: 'Alfa Slab One', cursive;

    

}

h3{
    font-size: 30px;
     color:black;
     font-family: 'Alfa Slab One', cursive;

    
}

h4{
    font-size: 30px;
     color:black;
    
}

h5{
    font-size: 30px;
     color:black;
     
}

p{
    color:white;
     font-family: 'Alfa Slab One', cursive;

    

}

p{
    color:black;
    font-family: 'Bitter', serif;
}

p2{
    font-size:15px;
    color:black;
    font-family: inherit;
    text-align: center;
    color:black;
    font-family: 'Alfa Slab One', cursive;
    
}
.carousel-indicators {
    padding: 50px 50px;
}

body {
  background-color: #F7BD64;
}
